<script setup lang="ts">
import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt';
import { ref } from 'vue';

const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
function onClick() {
    memberStore.searchMember(tel.value)
    receiptStore.calReceipt()
}
</script>

<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6">
                <v-card-text>
                    <v-text-field
                    v-model="tel"
                    density="compact"
                    variant="solo"
                    label="Search templates"
                    append-inner-icon="mdi-magnify"
                    single-line
                    hide-details
                    @click:append-inner="onClick"
                    @keyup.enter="onClick"
                    ></v-text-field>
                </v-card-text>
            </v-col>
            <v-col cols="6" class="pa-2 text-center">{{memberStore.currentMember ? memberStore.currentMember?.name: 'ไม่พบผู้ใช้' }}</v-col>
        </v-row>
    </v-container>
  </template>