<script setup lang="ts">
import { ref, nextTick } from 'vue';

import { type Product } from '@/types/product'
import type { ReceiptItem } from '@/types/ReceiptItem';

import ProductList from '@/components/ProductList.vue';
import ReceiptDetailTable from './ReceiptDetailTable.vue';
import ReceiptCard from './ReceiptCard.vue';
import MemberCard from './MemberCard.vue';
import ReceiptDialog from './ReceiptDialog.vue';
import { useReceiptStore } from '@/stores/receipt';


const receiptStore = useReceiptStore()
const products1 = [
    {
        id: 1,
        name: "ลาเต้ ร้อน",
        price: 35.00,
        type: 1
    },
    {
        id: 2,
        name: "โกโก้ ร้อน",
        price: 40.00,
        type: 1
    },
    {
        id: 3,
        name: "คาปูชิโน่ ร้อน",
        price: 50.00,
        type: 1
    },
    {
        id: 4,
        name: "ลาเต้ ร้อน",
        price: 30.00,
        type: 1
    },
    {
        id: 2,
        name: "โกโก้ ร้อน",
        price: 40.00,
        type: 1
    },
    {
        id: 3,
        name: "คาปูชิโน่ ร้อน",
        price: 50.00,
        type: 1
    },
    {
        id: 4,
        name: "ลาเต้ ร้อน",
        price: 30.00,
        type: 1
    },
    {
        id: 2,
        name: "โกโก้ ร้อน",
        price: 40.00,
        type: 1
    },
    {
        id: 3,
        name: "คาปูชิโน่ ร้อน",
        price: 50.00,
        type: 1
    },
    {
        id: 4,
        name: "ลาเต้ ร้อน",
        price: 30.00,
        type: 1
    },
]
const products2 = [
    {
        id: 1,
        name: "ลาเต้ ร้อน",
        price: 35.00,
        type: 1
    },
    {
        id: 2,
        name: "โกโก้ ร้อน",
        price: 40.00,
        type: 1
    }
]
const products3 = [
    {
        id: 1,
        name: "ลาเต้ ร้อน",
        price: 35.00,
        type: 1
    },
    {
        id: 2,
        name: "โกโก้ ร้อน",
        price: 40.00,
        type: 1
    },
    {
        id: 3,
        name: "คาปูชิโน่ ร้อน",
        price: 50.00,
        type: 1
    }
]
const divReceiptItem = ref<HTMLElement | null>(null)
const tab = ref(1)
const selected = (p: Product) => {
    console.log("POS view", p)
    receiptStore.addReceiptItem(p)
    nextTick(() => {
        if (divReceiptItem.value)
            divReceiptItem.value.scrollTo(0, divReceiptItem.value.scrollHeight)
    })
}
</script>

<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6">
                <v-container style="padding: 0;">
                    <v-row>
                        <v-col cols="12">
                            <div ref="divReceiptItem" style="height: 300; overflow: auto;">
                                <v-sheet min-width="300" max-width="600" height="300" elevation="6" class="overflow-auto">
                                    <ReceiptDetailTable></ReceiptDetailTable>
                                </v-sheet>
                            </div>
                        </v-col>
                        <v-col cols="12"><v-sheet min-width="300" max-width="600" height="80" elevation="6">
                                <MemberCard></MemberCard>
                            </v-sheet></v-col>
                        <v-col cols="12"><v-sheet min-width="300" max-width="600" height="170" elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet></v-col>
                        <v-col cols="12"><v-sheet min-width="300" max-width="600" height="80" elevation="6">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" size="large">ยกเลิก</v-btn>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" color="primary" size="large" @click="receiptStore.showDialog">ชำระเงิน</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet></v-col>
                    </v-row>
                </v-container>
            </v-col>
            <v-col cols="12" md="6">
                <v-sheet min-width="300" max-width="600" height="700" elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">เครื่องดื่ม</v-tab>
                        <v-tab :value="2">ขนม</v-tab>
                        <v-tab :value="3">น้ำ</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products1" @selected-product="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="2">
                            <ProductList :products="products2" @selected-product="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="3">
                            <ProductList :products="products3" @selected-product="selected"></ProductList>
                        </v-window-item>
                    </v-window>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>